<!DOCTYPE html>
<html>
<head>
  <title>Tweet</title>
  <%= stylesheet_link_tag    "tweet/application", :media => "all" %>
  <%= javascript_include_tag "tweet/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="top">
      <div id="topbar">
        <div id="welcome">
          Welcome <%= @user.name %>!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='<%= tweet_index_path %>' >Home</a> | <a href='<%= edit_user_path(session[:user_id]) %>' >Edit Profile</a> | <a href='<%= user_index_path %>' >All Users</a>
        </div>
        <div id="logout">
          <%= form_tag logout_user, method: :delete do %>
              <%= submit_tag "Logout", :name => :logout, class: :submit %>
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>

    <div id="footer">
      Copyright &copy; localhost 2013. All Rights Reserved.
    </div>

</body>
</html>
