<div id="page">

  <div id="tweets">

    <div id="tweet_head">
      Latest Tweets
    </div>

    <% if @tweets.size>0
         @tweets.each do |t|
    %>
            <div id="tweet">

              <div id="user"><span class="username"><%= t.name %></span><span id="time"><%= t.created_at.in_time_zone('New Delhi').day %>/<%= t.created_at.in_time_zone('New Delhi').month %>/<%= t.created_at.in_time_zone('New Delhi').year %>&nbsp;<%= t.created_at.in_time_zone('New Delhi').hour %>:<%= t.created_at.in_time_zone('New Delhi').min %>:<%= t.created_at.in_time_zone('New Delhi').sec %>&nbsp;</span></div>
              <div id="message"><%= t.message %></div>

            </div>
        <% end %>
           <%= will_paginate @tweets %>
        <% else %>
        <div id="tweet">
          No tweets to display! :(
        </div>
    <%
       end
    %>
    <br/><br/>
  </div>
</div>